@CHARSET "ISO-8859-1";

.jumbotron { 
    background-color: #f4511e; /* Orange */
    color: #ffffff;
}


.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}